doctype html
html
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet",href='css/ejercicio-pug.css')
	body
		header
			h1 PlatziGames
			a.boton Registro
		section.intro
			.intro__imagen  
				img(src="./images/imagen.png", alt="")
			.intro__contenido
				h2 Título principal 
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptatibus vitae ratione voluptas officia doloribus!
					sppan Lorem ipsum dolor sit, amet consectetur adipisicing.
				a.button(href="#") Leer más 


		